body{
    background-size: cover;
    background-color: rgb(255, 196, 0);
}

.header{
    height: 50px;
    width: 100%;
    font-size: 25px;
    background-color: rgb(10, 10, 155);
    color: white;
}

#btn-modal{
    float: right;
}